button.ui.button {
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border: 1px solid cadetblue;
  color: cadetblue;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

button.ui.button:hover{
    background-color: cadetblue;
    color: white;
    transition: all .3s;
}


